<nav>
    <div id="logo">
        <h2>ShopSphere</h2>
    </div>
    <div id="links">
        {% if request.user.is_authenticated %}
            {% if profile_nav %}
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'cart' %}" class="cart-link">Cart<sup>{{cartproduct_count}}</sup></a>
                <a href="{% url 'profile' %}">Profile({{request.user}})</a>
                <a href="{% url 'logout_' %}">Logout</a>
                <a href="{% url 'support' %}">Support</a>
                <a href="{% url 'knowus' %}">Know us</a>
                
            {% else %}
                <form >   
                    <input type="text" name="q" placeholder="Search"> 
                    <input type="submit" value="search"> 
                </form>

                <!-- Trending Button -->
                <form id="trend">
                    <input type="submit" value="Trending" name="trending">
                </form>

                <!-- Offer Button -->
                <form id="offer">
                    <input type="submit" value="Offer" name="offer">
                </form>




                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'cart' %}" class="cart-link">Cart <sup>{{cartproduct_count}}</sup></a>
                <a href="{% url 'profile' %}">Profile({{request.user}})</a>
                <a href="{% url 'logout_' %}">Logout</a>
                <a href="{% url 'support' %}">Support</a>
                <a href="{% url 'knowus' %}">Know Us</a>
            {% endif %}
        {% else %}
                {% if login_nav %}
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'login_' %}">Login</a>
                    <a href="{% url 'knowus' %}">Know us</a>
                    <a href="{% url 'support' %}">Support</a>
                {% else %}
                    <form >  
                        <input type="text" name="q" placeholder="Search"> 
                            <input type="submit" value="search"> 
                    </form>

                    <!-- Trending Button -->
                    <form id="trend">
                        <input type="submit" value="Trending" name="trending">
                    </form>

                    <!-- Offer Button -->
                    <form id="offer">
                        <input type="submit" value="Offer" name="offer">
                    </form>

                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'login_' %}">Login</a>
                    <a href="{% url 'knowus' %}">Know us</a>
                    <a href="{% url 'support' %}">Support</a>
                {% endif %}
        {% endif %}
    </div>

</nav>